/* Theme */
.border {
	border : #DDDDDD 1px solid;
	padding: 20px 20px 20px 20px;
}

/* .toast { */
/*     background-color : #000; */
/*     border           : solid 1px #000; */
/*     color            : #fff; */
/*     font-weight      : bold; */
/*     margin           : 0 auto; */
/*     position         : fixed; */
/*     box-shadow       : none; */
/* } */

.toast.red .md-toast-content {
    background-color : #f5a69a;
    border-color     : #d77a6c;
    color            : #872818;
}

.toast.green .md-toast-content{
    color            : #30503d;
    background-color : #66c08b;
    border-color     : #3d9260;
}


.toast.yellow .md-toast-content{
    color            : #8b550c;
    background-color : #f0ad4e;
    border-color     : #ee9d31;
}

.detail {
	margin: 20px 20px 20px 20px;
}

.detail label {
	font-weight: 600;
}

.table-button {
	min-width: 25px !important;
	width: 32px !important;
}

.table tbody tr:hover {
	background-color: #DDDDDD;
	cursor: pointer;
}

.side-nav-index-item-selected {
	background : #ECECEC;
}
.white-space-pre-wrap {
	white-space : pre-wrap;
}

.img-list.equipment-img:hover #equipment-img {
 	opacity: 0.50;
}

.img-list.equipment-img:hover button {
 	display:block;
}

.img-list.equipment-img button {
 	display:none;
}

.circle-option {
	border-radius:50%; 
	height: 15px; 
	width: 15px; 
	background: #607D8B; 
	margin-right: 20px;
}

.button-arrow-back{
    width: 40px !important;
    min-width: 40px;
    margin-right: 10px;
}

.button-green {
	background-color: #0de559 !important;
	color: #FFF !important;
}

.button-green md-icon{
	color: #FFF !important;
}